<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-success shadow-sm">
    <h2 align="center">Hotel Management System</h2>
 <div class="container">
 
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <div class="dropdown" style="float:right;">
               <button class="dropbtn">Login</button>
               <div class="dropdown-content">
                 <a href="/super-admin-login">SuperAdmin</a>
                 <a href="/admin-login">Admin</a>
                 <a href="/travel-agency-login">TravelAgency</a>
            </div>
            </div>
    </div>
  </div>
</nav>

<div class="container">
     <img src="/assets/image/hotel.jpg" alt="Image" height="500" width="1150" /> 
 
<h5>
<p>
    The best hotel management software is an ultimate management solution
    to maintain hospitality and customer relationship management by a hotel.
    A hotel management system can be used for managing rooms to engaging 
    with guests in the hospitality industry like at restaurants, hostel,
    lodges, suites, resorts etc.
</p>
</h5>
</div>
<div class="row">
  <h2 style="text-align:center"><strong>Testimonials</strong></h2>
    <div class="column">
        <img src="/assets/image/image1.jpg" alt="Image" height="250" width="350"/> 
        <h3><strong>Hidden but not out of sight</strong></h3>

        <h5>Situated in a beautiful but not always top travel destination, this 
        farm stay in just 150 days after joining Booking.com was able to earn 
        127 reservations and a guest satisfaction score of 9.1.
        </h5>
      </div>
    <div class="column">
        <img src="/assets/image/image2.jpg" alt="Image" height="250" width="350"/> 
        <h3>
            <strong> 30 reservations in one day </strong> 
           </h3>
           <h5>
              No matter the price level or the type of property, Booking.com will
              bring you guests.The very first day this set of apartments went live 
              they received 30 reservations and business has continued to  grow since.
           </h5>
    
      </div>
    <div class="column">
        <img src="/assets/image/image3.jpg" alt="Image" height="250" width="350"/> 
    
    <h3><strong>Building relationships</strong></h3>
    <h5>With more than 10 properties listed managing everything can be tricky.
       That's why Booking.com's local team regularly holds meetings with this 
       partner, to discuss how to build a relationship around their needs and 
       how to grow their business.
      </h5>
    </div>
  
 
